<p id="notice"><%= notice %></p>

<h1>Assets</h1>

<h3><%= link_to 'Delete selected', method: :destroy_multiple %></h3>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assets.each do |asset| %>
      <tr>
        <!-- display thumbnail, a sma -->
        <td><%= check_box_tag "asset_ids[]", asset.id, false, class: 'selectable' %></td>
        <!-- <td><%= check_box_tag("assets_selected[]", asset.id) %></td> -->
        <td><%= asset.image.filename %></td>
        <td><%= link_to 'Show', asset %></td>
        <td><%= link_to 'Edit', edit_asset_path(asset) %></td>
        <td><%= link_to 'Destroy', asset, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asset', new_asset_path %>
