<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @asset.image.filename %>
</p>
<% if @asset.image.attached? %>
<p>
  <strong>Image:</strong>
  <br>
  <%= image_tag @asset.image %>
</p>
<% end %>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
